
@{
    ViewBag.Title = "CrearProducto";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Caompatible" content="ie=edge">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:500,600&display=swap" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="~/css/estilos.css" />

</head>
<body>
    <div class="container">

        <h2>Crear Producto</h2>

        <div class="contenido">
            <div class="row">
                <div class="col s4">

                    <h4 style="text-align:right">ID_producto:</h4>

                </div>
                <div class="col s8">
                    <textarea class="area" id="area" readonly style="text-align:left">
                      123456
                    </textarea>
                </div>

            </div>
            <div class="row">
                <div class="col s4">

                    <h4 style="text-align:right">Nombre:</h4>

                </div>
                <div class="col s8">
                    <textarea class="area" id="area">
                      
                    </textarea>
                </div>

            </div>

            <div class="row">
                <div class="col s4">

                    <h4 style="text-align:right">Categoria:</h4>

                </div>
                <div class="col s8">
                    <textarea class="area" id="area">
                      
                    </textarea>
                </div>

            </div>

            <div class="row">
                <div class="col s4">

                    <h4 style="text-align:right">Descripción:</h4>

                </div>
                <div class="col s8">
                    <textarea class="area" id="area" readonly>
                      
                    </textarea>
                </div>

            </div>

            <div class="row">
                <div class="col s4">

                    <h4 style="text-align:right">Precio Unitario:</h4>

                </div>
                <div class="col s8">
                    <textarea class="area" id="area" readonly>
                      
                    </textarea>
                </div>

            </div>

            <div class="row">
                <div class="col s4">

                    <h4 style="text-align:right">Cantidad:</h4>

                </div>
                <div class="col s8">
                    <textarea class="area" id="area" readonly>
                      
                    </textarea>
                </div>

            </div>

            <div class="row">
                <div class="col s4">

                    <h4 style="text-align:right">Imagen:</h4>

                </div>
                <div class="col s8">
                    <img src="~/img/addImg.png" alt="" width="300" height="200" />
                </div>

            </div>
        </div>

        <input id="btnAgregar" type="button" value="Agregar Producto" />
        

    </div>
</body>
</html>

