@{
    ViewBag.Title = "Catalogo";
}

<body style="background-color:saddlebrown">

    <header>
        <div class="container-fluid" style="width:95%; height:90%; background-color: burlywood;">
            <h1 style="font-family: Forte; color:black; text-align:center; font-size:450%; ">Todo para camping</h1>
            <h2 style="font-family: Cambria; color:black; text-align:center; font-size:350%; ">Catálogo</h2>
            <div class="container">
                <img src="~/img/banner1.jpg" class="img-responsive" style="height:400px; width:90%;">
                <p> </p>

            </div>
        </div>

    </header>

    <main>


        <div class="container-fluid" style="width:95%; height:90%; background-color: burlywood;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-sm-9">
                        <img src="~/img/casa1.jpg" class="img-responsive" style="height:200px; width:250px" />
                        <p>$999.00</p>
                        <p>Casa de campaña 2 personas.</p>
                        <p style="font-family: Arial; color:blue;">
                            <u>Ver detalles </u>
                        </p>
                        <p style="font-family: Arial; color:blue;">
                            <u>Comprar </u>
                        </p>



                    </div>
                    <div class="col-md-6 col-lg-8 col-sm-3">
                        <img src="~/img/casa2.jpg" class="img-responsive" style="height:200px; width:250px;" />
                        <p>$7,550.00</p>
                        <p>Casa de campaña 6 personas</p>
                        <p style="font-family: Arial; color:blue;">
                            <u>Ver detalles </u>
                        </p>
                        <p style="font-family: Arial; color:blue;">
                            <u>Comprar </u>
                        </p>
                    </div>

                    <div class="col-md-6 col-lg-4 col-sm-9">
                        <img src="~/img/silla1.jpg" class="img-responsive" style="height:200px; width:250px" />
                        <p>$489.00</p>
                        <p>Silla armable portatil.</p>
                        <p style="font-family: Arial; color:blue;">
                            <u>Ver detalles </u>
                        </p>
                        <p style="font-family: Arial; color:blue;">
                            <u>Comprar </u>
                        </p>
                    </div>

                    <div class="col-md-6 col-lg-8 col-sm-3">
                        <img src="~/img/bolsa3.jpg" class="img-responsive" style="height:200px; width:250px" />
                        <p>$649.00</p>
                        <p>
                            Bolsa de dormir individual verde
                        </p>
                        <p style="font-family: Arial; color:blue;">
                            <u>Ver detalles </u>
                        </p>
                        <p style="font-family: Arial; color:blue;">
                            <u>Comprar </u>
                        </p>
                    </div>

                    <div class="col-md-6 col-lg-4 col-sm-9">
                        <img src="~/img/bolsa2.jpg" class="img-responsive" style="height:200px; width:250px" />
                        <p>$699.00</p>
                        <p>Bolsa de dormir individual azul</p>
                        <p style="font-family: Arial; color:blue;">
                            <u>Ver detalles </u>
                        </p>
                        <p style="font-family: Arial; color:blue;">
                            <u>Comprar </u>
                        </p>
                    </div>

                    <div class="col-md-6 col-lg-8 col-sm-3">
                        <img src="~/img/botela1.jpg" class="img-responsive" style="height:200px; width:250px" />
                        <p>$350.00</p>
                        <p>
                            botella para agua plegable portatil

                        </p>
                        <p style="font-family: Arial; color:blue;">
                            <u>Ver detalles </u>
                        </p>
                        <p style="font-family: Arial; color:blue;">
                            <u>Comprar </u>
                        </p>
                    </div>
                </div>

            </div>
        </div>



    </main>


</body>