@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Caompatible" content="ie=edge">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:500,600&display=swap" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <link rel="stylesheet" href="~/css/estilos.css" />
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="center-aling titulo"> "Todo para Camping"</h1>
                <div class="carousel center-aling">
                    <div class="carousel-item">
                        <h2 class="subtitulo"></h2>
                        <div class="linea-dvision"></div>
                        <p class="sabor">Accesorios</p>
                        <img src="img/c01.jpg" alt="IMG1">
                    </div>

                    <div class="carousel-item">
                        <h2 class="subtitulo"></h2>

                        <p class="sabor">Tiendas de Camapaña</p>
                        <img src="img/c02.jpg" alt="IMG2">
                    </div>

                    <div class="carousel-item">
                        <h2 class="subtitulo"></h2>
                        <div class="linea-dvision"></div>
                        <p class="sabor">Equipamiento</p>
                        <img src="img/c03.jpg" alt="IMG3">
                    </div>

                    <div class="carousel-item">
                        <h2 class="subtitulo"></h2>
                        <div class="linea-dvision"></div>
                        <p class="sabor">Vestimenta</p>
                        <img src="img/c04.jpg" alt="IMG4">
                    </div>

                    <div class="carousel-item">
                        <h2 class="subtitulo"></h2>
                        <div class="linea-dvision"></div>
                        <p class="sabor">Lamparas y Linternas</p>
                        <img src="img/c05.jpg" alt="IMG5">
                    </div>
                </div>
            </div>
        </div>

        <h6>
            La misión de "Todo para Camping" es ofrecerte todos los productos que necesitas para disfrutar
            de la naturaleza en su plenitud, sea cual sea el lugar al que vayas y la época del año.
            Tenemos productos tanto para acampadas en familia como expediciones de alta montaña en solitario.
            Además, ofrecemos financiación hasta en 18 cuotas, envíos en 2 a 5 días laborales en
            casi todos los productos y envío gratis para pedidos superiores a $800.
        </h6>

        <div class="contenido">
            <div class="row">
                <div class="col s4">
                    <img src="~/img/c06.jpg" width="350" height="150" />
                </div>
                <div class="col s8">
                    <h6>
                        A la hora de montar un campamento de verano, en la primera etapa deberás realizar un
                        análisis de la realidad del proyecto y preguntarte, ¿qué es exactamente lo que quiero?
                        Debes apuntar con detalle las características que deseas que tenga tu campamento.
                        Para ayudarte a organizar todas esas ideas que rondan en tu mente, vamos a darte un indicio de
                        las cualidades fundamentales de un campamento y su significado, así tu plan de empresa irá cogiendo forma.
                    </h6>
                </div>
            </div>
        </div>

        <h6>
            En el trayecto, frente a una fogata, al despertar, un campamento siempre estará repleto de canciones para promover
            la interacción y diversión grupal. Lo recomendable es que tengas en mente algunas de tus preferidas, así los monitores
            buscarán el mejor momento para cada una de ellas dándole un toque más interesante e interactivo a las actividades que
            realicen. En esta página podrás conseguir las mejores recomendaciones para canciones de campamentos ¡Échale un vistazo!
        </h6>
        <div class="linea-division"></div>
        <h6 style="text-align:center"> Productos destacados 2021</h6>
        
        <div class="row">
            <div class="col s3">
                <img src="~/img/pr1.png" height="250" width="250" />
                <br />
                <h9 style="text-align:center">Silla tumbona de playa plegable cama baja 7 posiciones</h9>
                <br />
                <h9><b>$350.00</b></h9>

            </div>

            <div class="col s3">
                <img src="~/img/pr2.png" height="250" width="250" />
                <br />
                <h9 style="text-align:center">Mochila de viaje Clisport TRANCI 65L - negra</h9>
                <br />
                <h9><b>$750.00</b></h9>
            </div>

            <div class="col s3">
                <img src="~/img/pr3.png" height="250" width="250" />
                <br />
                <h9 style="text-align:center">Flame's Creed Tarp 3x3 - Verde oliva - Toldo Bushcraft</h9>
                <br />
                <h9><b>$830.50</b></h9>
            </div>

            <div class="col s3">
                <img src="~/img/pr4.png" height="250" width="250" />
                <br />
                <h9 style="text-align:center">Silla tumbona de playa plegable cama baja 7 posiciones</h9>
                <br />
                <h9><b>$350.00</b></h9>
            </div>
        </div>



        <div class="linea-division"></div>
    </div>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!-- JS Main -->
        <script src="js/main.js">

        </script>

</body>
</html>